	<nav style="float: right;">
		<h2 style="display: inline; padding-left: 25px;"><a href="{{ '/' | relative_url }}">About</a></h2>
		<h2 style="display: inline; padding-left: 25px;"><a href="{{ '/blog' | relative_url }}">Blog</a></h2>
		<h2 style="display: inline; padding-left: 25px;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfSe94015z7HtFO7HCyavmtcLdF3ogxaWvUMMstmlPX-2GDJQ/viewform">User Survey</a></h2>
		<h2 style="display: inline; padding-left: 25px;"><a href="http://dashboard.ersatz.io">Dashboard</a></h2>
	</nav>
